
.ipynb_checkpoints/latentModel-binary-checkpoint.ipynb

.ipynb_checkpoints/latentModel-checkpoint.ipynb

.ipynb_checkpoints/latentModel-checkpoint.ipynb

.ipynb_checkpoints/latentModel-checkpoint.ipynb

.ipynb_checkpoints/latentModel-checkpoint.ipynb
